.A{
	display: inline-block;
	background-color: blue;
	padding: 100px;
	margin: 0px;
	font-size: 30px;
}
.B{
	display: inline-block;
	background-color: blue;
	padding: 100px;
	margin: 0px;
	font-size: 30px;
}
.C{
	display: inline-block;
	background-color: blue;
	padding: 100px;
	margin: 0px;
	font-size: 30px;
}