.A{
	display: block;
	background-color: blue;
	padding: 0px;
	margin: 10px;
	font-size: 40px;
}
.B{
	display: block;
	background-color: blue;
	padding: 0px;
	margin: 10px;
	font-size: 40px;
}
.C{
	display: block;
	background-color: blue;
	padding: 0px;
	margin: 10px;
	font-size: 40px;
}